<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.reuna.poko">

    <application
        android:name=".PokoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="logLevel"
            android:value="off" />

        <activity
            android:name=".BarcodeListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".BarcodeListActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BarcodeListActivity" />
        </activity>

    </application>

</manifest>